*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

body{
    font-size: 16px;
    background-image: url(map.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    display: flex;
}

.sidebar.show{
    color: white;
    width: 300px;
    flex-shrink: 0;
    background-color: #292A30;
    height: 100%;
    transition: width 350ms;
}

.sidebar.close{
    background-color: #292A30;
    height: 100%;
    width: 0px;
    transition: 350ms;
    overflow: hidden;
}

.expand-btn, .collapse-btn{
    background-color: #292A30;
    border-radius: 5px 5px 0 0;
    position: absolute;
    color: white;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.expand-btn.show{
    margin-left: -10px;
    padding: 6px;
    z-index: 1;
    transition: margin-left 350ms;
}
.expand-btn.close{
    margin-left: 290px;
    padding: 6px;
    z-index: -1;
    transition: margin-left 350ms;
}

.collapse-btn.show{
    font-size: larger;
    padding: 4px 15px 4px 15px;
    margin-left: 290px;
    transition: margin-left 350ms;
}

.collapse-btn.close{
    font-size: larger;
    margin-left: -10px;
    z-index: -1;
    padding: 4px 15px 4px 15px;
    transition: 350ms;
}
/*----------------------------------------------
    ## Global
----------------------------------------------*/
.h-100vh{
    height: 100vh;
}

.left-290{
    margin-left: 290px;
}

.left-0{
    margin-left: -10px;
}

.left-100{
    margin-left: -100px;
}

.f-12{
    font-size: 12px;
}

.f-poppins{
    font-family: "Poppins", sans-serif;
}

.spacing{
    letter-spacing: 1px;
}

.bg-main{
    background-color: #292A30;
}

